#loginpageContainer{
    display: flex;
    flex-direction: column;
    
}
.loginblock{
    height: 100%;
    width: 90%;
    padding:2.5%;
    padding-top:0%;
    margin:2.5%;
    border-radius:2vmax;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.displayblock{
    height: 100%;
    width: 90%;
    padding:2.5%;
    padding-top:0%;
    margin:2.5%;
    border-radius:2vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.displayHeader{
    height:5vh;
    width: 100%;
}
.displayBoard{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

#userImage {
    border-radius: 50%;
    height: 80%;
}
#loginDetail {
    display: flex;
    justify-content: space-evenly;
    font-size: 4vmin;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    padding:2.5%;
}
.loginButton{
    height: 100%;
    width: 100%;
    border-radius:2vmax;
}
 
#loginButtonContainer{
    height: 5vh;
    width: 30vw;
    background-color: blue;
    border-radius:2vmax;
}

