<nav class="nav">
  <div routerLink="/home" href="#" id="home" class="nav__link nav__link--active" >
    <span class="material-icons">home</span>
    <span class="nav__text">Home</span>
  </div>
  <div routerLink="/login" href="#" id="profile" class="nav__link" >
    <span class="material-icons">person</span>
    <span class="nav__text">Profile</span>
  </div>
  <div routerLink="/fbRtdbb" href="#" id="realtimeDb" class="nav__link" >
    <span class="material-icons">person</span>
    <span class="nav__text">realtimeDb</span>
  </div>
  <div routerLink="/main" href="#" id="setting" class="nav__link" >
    <span class="material-icons">person</span>
    <span class="nav__text">main</span>
  </div>
  <div routerLink="/setting" href="#" id="setting" class="nav__link" >
    <span class="material-icons">person</span>
    <span class="nav__text">setting</span>
  </div>
  <!-- <div routerLink="/Chat" href="#" id="chat" class="nav__link" (click)="onClick('chat')">
    <span class="material-icons">chat_bubble</span>
    <span class="nav__text">Chat</span>
  </div>
  <div routerLink="/Cart" href="#" id="contact" class="nav__link" (click)="onClick('cart')">
    <span class="material-icons">shopping_cart</span>
    <span class="nav__text">Cart</span>
  </div>
  <div routerLink="/settings" href="#" id="settings" class="nav__link" (click)="onClick('setting')">
    <span class="material-icons">settings</span>
    <span class="nav__text">Settings</span>
  </div> -->
</nav>