.objSubmitFormContainer{
    display: flex;
    justify-content:space-evenly;
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow1);
    border-radius: 2vmax;
}
.obj-submit-form{
    display: flex;
    flex-direction: column;
}
.inputContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
