<div class="objSubmitFormContainer">
    <div *ngIf="!submitted" class="obj-submit-form">
      <div class="inputContainer">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="fbrtdbObject.title" name="title"/>
        <label for="description">Description</label>
        <input class="description" id="description" required [(ngModel)]="fbrtdbObject.description" name="description"/>
      </div>
      <button (click)="saveTutorial()" class="kbutton">Submit</button>
    </div>

    <div *ngIf="submitted"  class="obj-submit-form">
      <h4>You submitted successfully!</h4>
      <button class="kbutton" (click)="newTutorial()">Add</button>
    </div>
    
  </div>